<%- include ../includes/header %>
<div class="container">
	<div class="row">
		<div class="col-md-7">
			<video src="<%= movie.flash %>" controls width="700" height="400" poster="http://365jia.cn/uploads/news/folder_199665/images/b493eb6d14aec100b338bb1bcbe759c5.jpg"></video>
			
			
			<panel class="panel-default">
				<div class="panel-heading">
					<h3>评论区</h3>
				</div>
				<div class="panel-body">
					<ul class="media-list">
						<%comments.forEach(function(item,index){%>
						<li class="media">
							<div class="pull-left">
								<a class="comment" href="#comments" data-cid="<%= item._id%>"data-tid="<%= item.from._id%>">
								<img src="http://p.3761.com/pic/13061433378645.png" alt="pic" class="media-object" style="width:64px;height:64px"/>
								</a>
							</div>
								<div class="media-body">

										<h4><%= item.from.name%></h4>
										<p><%= item.content%></p>
									<%if(item.reply&&item.reply.length>0){%>
									    <%item.reply.forEach(function(reply,index){%>
									     <div class="media">
											 <div class="pull-left">
												 <a class="comment" href="#comments" data-cid="<%= item._id%>"data-tid="<%= reply.from._id%>">
													 <img src="<%= item.poster%>" alt="pic" class="media-object" style="width:64px;height:64px"/>
												 </a>											 </div>
											 <div class="media-body">
												 <h4 class="media-heading">
													  <%= reply.from.name%>
													 <span class="test-info"><strong style="color:skyblue">回复</strong>: <%= reply.to.name%></span>
												 </h4>

												<p><%= reply.content%></p>
											 </div>
										 </div>
									<%})%>
									<%}%>


								</div>

						</li>
						<hr/>
	                    <%})%>
					</ul>
				</div>
			</panel>
			<hr/>
            <div id="comments">
			<form  id="commentForm" action="/user/comment" method="post">
				<input type="hidden" name="comment[movie]" value="<%= movie._id%>"/>
				<%if(user){ %>
				<input type="hidden" name="comment[from]" value="<%= user._id%>"/>
				<%}%>
				<div class="form-group">
					<textarea name="comment[content]"class="form-contorl"></textarea>
					<%if(user){%>
					<button class="btn" type="submit">提交</button>
					<%}%>
					<%if(user==undefined){%>
					<div>
					<button class="btn btn-primary" >请登录后评论</button>
					</div>
					<%}%>


				</div>
			</form>
			</div>
			<div style="height:1000px;"></div>
		</div>


		<div class="col-md-5">
			<dl class="dl-horizontal">
				<dt>电影名字</dt>
				<dd><%= movie.title %></dd>
				<dt>导演</dt>
				<dd><%= movie.doctor %></dd>	
				<dt>国家</dt>
				<dd><%= movie.country %></dd>	
				<dt>语言</dt>
				<dd><%= movie.language %></dd>	
				<dt>上映年份</dt>
				<dd><%= movie.year %></dd>	
				<dt>简介</dt>
				<dd><%= movie.summary %></dd>	
			</dl>
		</div>
	</div>
</div>
<script src="/javascripts/detail.js"></script>
<%- include ../includes/footer %>
